COMPILE_ONLY=false

DEPLOYER_PRIVATE_KEY=

MNEMONIC=here is where your twelve words mnemonic should be put my friend

INFURA_API_KEY=939460b989b94e17a47862f19242a1e6

ETHERSCAN_API_KEY=SKAAEJUCFE47QYY83ICT6TZN3TJ7BHZH1Y
BSCSCAN_API_KEY=8M3BNMMKBWYTW14N4DKKUCF51JIQ4Y9D4M
POLYSCAN_API_KEY=17GQTHF39DSXGH61II2I4XNG6DJZCWKWRA